---
import Match from "~/components/match.astro";

const { tid, gid } = Astro.params;

const matches = await fetch(
  `https://torneos-manager.vercel.app/api/groups/matches/${tid}/${gid}`,
  {
    method: "POST",
  }
).then((response) => response.json());

const tournament = await fetch(
  `https://torneos-manager.vercel.app/api/tournaments/${tid}`,
  {
    method: "POST",
  }
).then((response) => response.json());
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="application-name" content=" " />
    <meta name="msapplication-TileColor" content="#FFFFFF" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/assets/css/main.min.css?1.0.0" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/assets/css/dev-styles.css" />

    <title>iPadel</title>
    <style is:inline>
      .row {
        margin-left: 0px;
        margin-right: 0px;
      }
    </style>
  </head>

  <body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="100">
    <!-- Title -->
    <section class="d-menu-tournament">
      <div id="menu-top" class="container">
        <div class="row">
          <div class="container d-nne b-fixed-title-tournament">
            <div class="row">
              <div class="b-title">
                <a
                  class="navbar-brand"
                  href={`/tournaments/${tid}`}
                  title="Back Torneo"
                >
                  <h1 class="title">{tournament.tournament.name}</h1>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Tournaments -->
    <section class="d-info-results d-info d-tournaments">
      <div class="container">
        <div class="row">
          <div class="col-12 b-accordion">
            <h2 class="title-2 aos-init aos-animate" data-aos="fade-up">
              Partidos del Grupo {gid}
            </h2>
            <div class="accordion">
              <div
                class="accordion-item aos-init aos-animate"
                data-aos="fade-up"
              >
                <div class="accordion-body">
                  {matches?.matches?.map((item: any) => <Match item={item} />)}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Tournaments -->
    <!-- JS -->
    <script is:inline src="/assets/js/jquery-3.6.1.min.js"></script>
    <script is:inline src="https://code.jquery.com/jquery-latest.js"></script>
    <script
      is:inline
      src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script is:inline src="/assets/js/aos.min.js"></script>
    <script is:inline src="/assets/js/lazyload.js"></script>
    <script is:inline src="/assets/js/bootstrap.min.js"></script>
    <script is:inline src="/assets/js/custom.js"></script>

    <script is:inline>
      AOS.init({
        once: true,
        duration: 1500,
        delay: 100,
        disable: "mobile",
      });
      $(window).scroll(function () {
        AOS.refresh();
      });
    </script>
  </body>
</html>
