---
import Accordion from "~/components/accordion.astro";
import GroupTable from "~/components/groupTables.astro";
import GroupsQ from "~/components/leagueGroupsQ.astro";
import SiteLayout from "~/layouts/siteLayout.astro";
const { slug } = Astro.params;

const tournament = await fetch(
  `https://torneos-manager.vercel.app/api/tournaments/${slug}`,
  {
    method: "POST",
  }
).then((response) => response.json());
---

<SiteLayout
  title={tournament.tournament.name}
  image={tournament.tournament.image}
  url={`https://torneos-manager.vercel.app/trounaments/${slug}`}
>
  <!-- Title -->
  <section class="d-menu-tournament">
    <div id="menu-top" class="container">
      <div class="row">
        <div class="container d-nne b-fixed-title-tournament">
          <div class="row">
            <div class="b-title">
              <h1 class="title">{tournament.tournament.name}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Draws -->
  <section class="d-info-results d-info">
    <div class="container">
      <div class="row">
        <div class="col-12 b-accordion" id="resultados_torneo_data">
          <div class="accordion" id="accordionPanelsStayOpen-2">
            <Accordion round="1" tID={slug} />
            <Accordion round="2" tID={slug} />
            <Accordion round="4" tID={slug} />
            <Accordion round="8" tID={slug} />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Groups -->
  <section class="d-ranking d-tournaments-calendar bg-img-race">
    <div class="col-12 container b-ranking-race b-top">
      <div class="row">
        {
          (tournament.tournament.type = "liga" &&
            tournament.tournament.param_q_per_group != "2" && (
              <div class="d-info-results d-info">
                <div class="col-12 b-accordion" id="resultados_torneo_data">
                  <div class="accordion" id="accordionPanelsStayOpen-2">
                    <GroupsQ tID={slug} />
                  </div>
                </div>
              </div>
            ))
        }
        <GroupTable groupID="A" tID={slug} />
        <GroupTable groupID="B" tID={slug} />
        <GroupTable groupID="C" tID={slug} />
        <GroupTable groupID="D" tID={slug} />
        <GroupTable groupID="F" tID={slug} />
        <GroupTable groupID="G" tID={slug} />
        <GroupTable groupID="H" tID={slug} />
      </div>
    </div>
  </section>
</SiteLayout>
