---
import { ViewTransitions } from "astro:transitions";
const { title, image, url } = Astro.props;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="application-name" content=" " />
    <meta name="msapplication-TileColor" content="#FFFFFF" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/assets/css/main.min.css?v=1.0.2" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/assets/css/dev-styles.css?v=1.0.0" />

    <title>{title}</title>

    <meta name="robots" content="index, follow" />
    <meta name="description" content={title} />

    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="torneos-manager.vercel.app" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={url} />

    <meta property="og:image" content={image} />
    <meta property="og:description" content={title} />

    <!-- TwitterCard -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:text:description" content={title} />
    <meta name="twitter:image:src" content={image} />

    <ViewTransitions />
  </head>

  <body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="100">
    <slot />
    <!-- JS -->
    <script is:inline src="/assets/js/jquery-3.6.1.min.js"></script>
    <script is:inline src="https://code.jquery.com/jquery-latest.js"></script>
    <script
      is:inline
      src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline src="/assets/js/lazyload.js"></script>
    <script is:inline src="/assets/js/bootstrap.min.js"></script>
    <script is:inline src="/assets/js/custom.js"></script>

    <script is:inline>
      AOS.init();
    </script>
  </body>
</html>
