---
const { groupID, tID } = Astro.props;
import Arrow from "public/assets/img/icons/arrow-accordion.svg";
const group = await fetch(
  `https://torneos-manager.vercel.app/api/groups/results-by-group/${tID}/${groupID}`,
  {
    method: "POST",
  }
).then((response) => response.json());
---

{
  group?.groupsResults?.length > 0 && (
    <>
      <div
        class="col-lg-6 col-sm-12 col-md-12 b-list-ranking aos-init aos-animate"
        data-aos="fade-up"
      >
        <div class="b-category mt-4 ">
          <div class="container">
            <div class="row">
              <div class="col">
                <h2 class="title">Grupo {groupID}</h2>
              </div>
              <div class="col text-end">
                <a
                  class="navbar-brand w-full position-relative d-flex float-end align-items-center"
                  href={`/tournaments/group/${tID}|${groupID}`}
                >
                  <h2 class="title pe-2">Partidos</h2>
                  <img
                    style="rotate:  -135deg;"
                    decoding="async"
                    loading="lazy"
                    src={Arrow.src}
                    width="20"
                    height="20"
                    alt="arrow"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12 b-player-info-points player-item-f aos-init aos-animate"
            data-aos="fade-up"
          >
            <div class="info-tournament-points">
              {group?.groupsResults?.map((item: any) => (
                <div>
                  <p class="group_couple mb-4">{item.couple_names}</p>
                  <div class="row g-0">
                    <div class="col-3 text-end">
                      <p>Sets</p>
                      <p class="points">{item.sets_total}</p>
                    </div>
                    <div class="col-3 text-end">
                      <p>Games</p>
                      <p class="points">{item.total_games}</p>
                    </div>
                    <div class="col-3 text-end">
                      <p>Games+</p>
                      <p class="points">{item.games_positive}</p>
                    </div>
                    <div class="col-3 text-end">
                      <p>Ganados</p>
                      <p class="points">{item.wins}</p>
                    </div>
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </>
  )
}
