---
const { groupID, tID } = Astro.props;
const group = await fetch(
  `https://torneos-manager.vercel.app/api/groups/results-by-group/${tID}/${groupID}`,
  {
    method: "POST",
  }
).then((response) => response.json());
---

{
  group?.groupsResults?.length > 0 && (
    <>
      <div
        class="col-lg-6 col-sm-12 col-md-12 b-list-ranking aos-init aos-animate"
        data-aos="fade-up"
      >
        <div class="b-category mt-4">
          <h2 class="title">Grupo {groupID}</h2>
        </div>
        <div class="row">
          <div
            class="col-lg-12 b-player-info-points player-item-f aos-init aos-animate"
            data-aos="fade-up"
          >
            <div class="info-tournament-points">
              {group?.groupsResults?.map((item: any) => (
                <div>
                  <h3 class="title-2 mb-4">{item.couple_names}</h3>
                  <div class="row g-0">
                    <div class="col-3 text-end">
                      <p>Sets</p>
                      <p class="points">{item.sets_total}</p>
                    </div>
                    <div class="col-3 text-end">
                      <p>Games</p>
                      <p class="points">{item.total_games}</p>
                    </div>
                    <div class="col-3 text-end">
                      <p>Games+</p>
                      <p class="points">{item.games_positive}</p>
                    </div>
                    <div class="col-3 text-end">
                      <p>Ganados</p>
                      <p class="points">{item.wins}</p>
                    </div>
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </>
  )
}
