---
const { item } = Astro.props;

const dateOptionsMonth: Intl.DateTimeFormatOptions = {
  year: "2-digit",
  month: "2-digit",
  day: "2-digit",
  hour: "2-digit",
  minute: "2-digit",
};

function getDate(dateStr: string) {
  const date = new Date(dateStr);
  const formatter = new Intl.DateTimeFormat("en-US", dateOptionsMonth);
  return formatter.format(date);
}
---

<div class="row justify-content-center">
  <div class="col-12 text-center">
    <p>{getDate(item.match_date)}</p>
  </div>
  <div class="col-6 col-lg-4 b-players order-1">
    <div>
      <p class="group_couple_position">{item.rel_from_1}</p>
      <div class="names">
        {
          item.couple1_name != null ? (
            <>
              <p>{item.couple1_name?.split("-")[0]}</p>
              <p>{item.couple1_name?.split("-")[1]}</p>
            </>
          ) : (
            <p>{item.rel_from_1}</p>
          )
        }
      </div>
    </div>
  </div>
  <div class="col-lg-3 b-match-summary b-match-summary-2 order-2">
    <div>
      <div class="b-results">
        {
          item.set_1_c1 == "" ? (
            <p>---- / ---- / ----</p>
          ) : (
            <p>
              {item.set_1_c1}-{item.set_1_c2} / {item.set_2_c1}-{item.set_2_c2}
              {item.set_3_c1 != "" && `/${item.set_3_c1}-${item.set_3_c2}`}
            </p>
          )
        }
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-4 b-players order-1 order-lg-3">
    <div>
      <p class="group_couple_position group_couple_position_r">
        {item.rel_from_2}
      </p>
      <div class="names">
        {
          item.couple2_name != null ? (
            <>
              <p>{item.couple2_name?.split("-")[0]}</p>
              <p>{item.couple2_name?.split("-")[1]}</p>
            </>
          ) : (
            <p>{item.rel_from_2}</p>
          )
        }
      </div>
    </div>
  </div>
</div>
