---
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

const groupA = await fetch('https://torneos-manager.vercel.app/api/groups/results-by-group/2aad57a7-4b63-4271-9983-fe9e990b167e/A',
{
  method: 'POST'
}).then((response) =>
  response.json()
);

const groupB = await fetch('https://torneos-manager.vercel.app/api/groups/results-by-group/2aad57a7-4b63-4271-9983-fe9e990b167e/B',
{
  method: 'POST'
}).then((response) =>
  response.json()
);

---

<section class="relative h-full bg-black">
  <Starfield />
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-screen content-center">
    <h3>Grupo A</h3>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Pareja</th>
                <th>Sets Totales</th>
                <th>Games</th>
                <th>Games Ganados</th>
                <th>Partidos Ganados</th>
            </tr>
        </thead>
        <tbody>
          {
            groupA?.groupsResults?.map((item) => (
              <tr>
                <td>{item.couple_names}</td>
                <td>{item.sets_total}</td>
                <td>{item.total_games}</td>
                <td>{item.games_positive}</td>
                <td>{item.wins}</td>
              </tr>
            ))
          }
        </tbody>
    </table>
    <h3>Grupo B</h3>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Pareja</th>
                <th>Sets Totales</th>
                <th>Games</th>
                <th>Games Ganados</th>
                <th>Partidos Ganados</th>
            </tr>
        </thead>
        <tbody>
          {
            groupB?.groupsResults?.map((item) => (
              <tr>
                <td>{item.couple_names}</td>
                <td>{item.sets_total}</td>
                <td>{item.total_games}</td>
                <td>{item.games_positive}</td>
                <td>{item.wins}</td>
              </tr>
            ))
          }
        </tbody>
    </table>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }

  /* Table Styles */
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
      background-color: grey;
  }

  .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
  }
</style>
