---
import NoImage from "public/assets/img/icons/no-image-big.svg";
const { item } = Astro.props;

console.log(item);
---

<div class="row justify-content-center">
  <div class="col-11 text-center">
    <p>Partido Nro: {item.rel_to}</p>
  </div>
  <div class="col-6 col-lg-4 b-players order-1">
    <div>
      <picture>
        <img
          loading="lazy"
          data-src={(item.couple1_pic = "" ? item.couple1_pic : NoImage.src)}
          src={(item.couple1_pic = "" ? item.couple1_pic : NoImage.src)}
          class="img-fluid"
          height="250"
          width="310"
          alt="imagen"
          title=""
        />
      </picture>
      <div class="names">
        {
          item.couple1_id != null ? (
            <>
              <p>{item.couple1_id?.split("-")[0]}</p>
              <p>{item.couple1_id?.split("-")[1]}</p>
            </>
          ) : (
            <p>{item.rel_from_1}</p>
          )
        }
      </div>
    </div>
  </div>
  <div class="col-lg-3 b-match-summary b-match-summary-2 order-2">
    <div>
      <p class="b-vs">VS</p>
      <div class="b-results">
        {
          item.set_1_c1 == "" ? (
            <p>---- / ---- / ----</p>
          ) : (
            <p>
              {item.set_1_c1}-{item.set_1_c2} / {item.set_2_c1}-{item.set_2_c2}
              {item.set_3_c1 != "" && `/${item.set_3_c1}-${item.set_3_c2}`}
            </p>
          )
        }
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-4 b-players order-1 order-lg-3">
    <div>
      <picture>
        <img
          loading="lazy"
          data-src={item.couple2_pic == "" ? item.couple2_pic : NoImage.src}
          src={item.couple2_pic == "" ? item.couple2_pic : NoImage.src}
          class="img-fluid"
          height="250"
          width="310"
          alt="imagen"
          title=""
        />
      </picture>
      <div class="names">
        {
          item.couple2_id != null ? (
            <>
              <p>{item.couple2_id?.split("-")[0]}</p>
              <p>{item.couple2_id?.split("-")[1]}</p>
            </>
          ) : (
            <p>{item.rel_from_2}</p>
          )
        }
      </div>
    </div>
  </div>
</div>
